.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(91, 158, 77, 0.2);
  padding: 10px 12px;
  align-items: center;
  justify-content: space-evenly;
}

.header > .title {
  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.2rem;
}

.results {
  width: 90%;
  max-width: 520px;
  margin: 1.2rem 0;
}

.results > li:not(:last-child) {
  margin-bottom: 1.2rem;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
}

.message {
  text-align: center;
  color: #303431;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message--danger {
  color: red;
}

@media screen and (min-width: 1070px) {
  .header {
    height: 64px;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
  }

  .header > .search-bar-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
