.button {
  background-color: #fff;
  color: #303431;
  font-weight: 900;
  font-size: 1rem;
  width: 60%;
  max-width: 300px;
  height: 2.8rem;
  border-radius: 1.4rem;
  cursor: pointer;
  outline: none;
  transition: all ease-out 0.2s;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.button:focus,
.button:hover {
  border: 1px solid #303431;
}
